@media (min-width: 768px) {
  .container {
    width: 750px;
  }
  /* Video Page */
  .video-section .container .video iframe {
    height: 500px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
